.venv/
venv/
env/
ENV/
cache/
raw/

.env
*.env

__pycache__/
.mypy_cache/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
coverage.xml
*.cover
*.pyo
*.pyd

.idea/
*.iml

*.log
*.log.*
*.bak
*.swp
*.swo
*.tmp
*.temp
*.jpg
*.pkl

dist/
build/
*.egg-info/
*.egg
wheels/
*.whl
*.schema

htmlcov/
.tox/
.nox/
.profile
*.prof

.DS_Store

*.db
*.db-journal
Thumbs.db
ehthumbs.db
Desktop.ini

*.cache
*.backup
*.old
*.orig
*.pid
*.seed
*.sqlite3

/tmp/
/local/
/data/
raw/

database/